h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-weight: 200;
}
p1 {
    text-align:justify;
    font-family: Georgia;
    font-size: 30px;
    font-weight: 100;
}
ul {
    text-align: left;
    font-family: Impact;
    font-size: 20px;
    font-weight: 100;
}

.example {
    background-color: azure;
    text-align: center;
    font-family: serif;
    font-size: 20px;
    font-weight: 100;
}

#second {
    font-size: 25px;
    background-color:aquamarine;
    color:blueviolet;
    font-style: italic;
}