@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Poller One', cursive;
    background-image: url("./images/sky.jpg");
    color: #eedb00;
    background-attachment: fixed; /*фиксирует фон*/
}

header {
    background-color: rgba(60, 69, 67, .6);
    border-radius: 15px 15px 0 0;
}

footer {
    background-color: rgba(60, 69, 67, .6);
    border-radius: 0 0 15px 15px; 
    height: 6em;
    position: fixed;
    clear: both;
    bottom: 0;
    width: 100%;
    /*
    em -    от font-size элемента
    rem -   от font-size тэга <html> (16px)
            не зависит от размера шрифта родителей
    */
}

nav > ul {
    display: flex;
    list-style: none;
    padding: 0;
    position: fixed;
    top: 5px;
    left: 40px;

} 

li {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 2em;
    padding: .5em 0;
}

.left {
    float: left;
    width: 25%;
    margin: 5px 10px 0 5px;
}

.right {
    float: right;
    width: 50%;
    margin: 5px 5px 0;
    border: 1px solid #eedb00;
    border-radius: 0 0 15px 15px;
    display: flex;
   
}

img {
    width: 100%;
}

.right > img {
    width: 32%;
}

.bottomLeft {
    border-bottom-left-radius: 15px;
}

.bottomRight {
    border-bottom-right-radius: 15px;
}

.farGalaxy {
    font-size: 2em;
}

